---
// import '@fontsource/kanit';
// import '@fontsource/lato';

import {siteUrl} from '../db/data';

export interface Props {
  title: string;
}

const {title: externalTitle} = Astro.props;
const title = `${externalTitle}`;
const description = '';
const url = siteUrl;
const image = `${siteUrl}/logos/logo_3.webp`;
const keywords = '';
---

<!DOCTYPE html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <link href={url} rel='canonical' />
    <meta name='generator' content={Astro.generator} />
    <meta name='keywords' content={keywords} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name='title' content={title} />
    <meta name='description' content={description} />

    <!-- Open Graph / Facebook -->
    <meta property='og:type' content='website' />
    <meta property='og:url' content={url} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={image} />

    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content={url} />
    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={description} />
    <meta property='twitter:image' content={image} />
  </head>
  <body
    class='min-h-screen overflow-x-hidden transition-colors duration-1000 grid content-center bg-light-blue text-dark'
  >
    <!-- <Header /> -->
    <slot />
    <!-- <Footer /> -->
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
    font-family: 'Lato', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Kanit', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
  }
  html.dark .dark-invert {
    filter: invert(100%);
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(23, 23, 23) #fff;
  }

  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #fff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(23, 23, 23);
    border-radius: 4px;
    border: 3px solid #fff;
  }
</style>
